<div>
  <h1>edition admin</h1>
  <div>
    <div class="form-group">
      <label>id</label>
      <input [(ngModel)]="admin.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>login</label>
      <input
        [(ngModel)]="admin.login"
        class="form-control"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>password</label>
      <input [(ngModel)]="admin.password" class="form-control" />
    </div>
    <div class="form-group">
      <label>enabled</label>
      <input [(ngModel)]="admin.enabled" class="form-control" />
    </div>
  </div>
</div>
