body {
  background-image: url("/assets/espace.jpg");
  height: auto;
  width: 100%;
  padding-bottom: 2%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  color: white;
}

table {
  border: none;
}

.planete {
  height: 150px;
  border: none;
  text-align: center;
}

.infos {
  border: none;
  color: white;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 10%;
}
