<body>
  <article>
    <h2>NOS PLANETES</h2>
    <br />
    <p>
      Découvrez notre sélection de planetes pour des voyages plus incroyables
      les uns que les autres dans notre systeme solaire ou ailleurs.
    </p>
    <br />
    <table class="table">
      <tr class="planete">
        <td><img src=".\assets\terre.png" /></td>
        <td><img src=".\assets\mars.png" /></td>
        <td><img src=".\assets\atlantide.png" /></td>
      </tr>
      <tr class="infos">
        <td><h3>Terre</h3></td>
        <td><h3>Mars</h3></td>
        <td><h3>Atlantide</h3></td>
      </tr>
      <tr class="planete">
        <td><img src=".\assets\neptune.png" /></td>
        <td><img src=".\assets\venus.png" /></td>
        <td><img src=".\assets\uranus.png" /></td>
      </tr>
      <tr class="infos">
        <td><h3>Neptune</h3></td>
        <td><h3>Venus</h3></td>
        <td><h3>Uranus</h3></td>
      </tr>
    </table>
  </article>
</body>
