<body>
  <article>
    <br /><br />
    <table class="table">
      <thead>
        <tr>
          <th class="id">id</th>
          <th class="login">login</th>
          <th class="password">password</th>
          <th class="enabled">enabled</th>
          <th colspan="2" class="modif">Modification</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of admins">
          <td>{{ a.id }}</td>
          <td>{{ a.login }}</td>
          <td>{{ a.password }}</td>
          <td>{{ a.enabled }}</td>
          <td>
            <a
              [routerLink]="['/admin', 'edit', a.id]"
              routerLinkActive="active"
              class="btn btn-outline-primary"
              >editer</a
            >
          </td>
          <td><button class="btn btn-outline-danger">supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <div class="new">
      <a
        [routerLink]="['/admin', 'edit']"
        routerLinkActive="active"
        class="btn btn-outline-info"
        >Création Admin</a
      >
    </div>
    <br /><br />
  </article>
</body>
