body {
  background-image: url("espace.jpg");
  height: 100%;
  width: 100%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

#grille {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoP {
  width: 20px;
  justify-content: center;
}

#comete {
  width: 10px;
  justify-content: center;
}
