<body>
  <article>
    <h2>MOYEN DE PAIEMENTS</h2>
    <br />
    <!-- <ul> -->
    <!--<div class="container overflow-hidden"> -->
    <div class="row form-group" id="grille">
      <div class="col">
        <img class="LogoP" src=".Visalogo.svg.png" />
      </div>

      <div class="col"><img class="LogoP" src=".MasterCard.jpg" /></div>

      <div class="col"><img class="LogoP" src=".Paypal.png" /></div>

      <div class="col"><img id="comete" src=".Comete.png" /></div>
    </div>

    <div class="row" id="grille">
      <div class="col"><img class="LogoP" src=".ANCV.png" /></div>

      <div class="col"><img class="LogoP" src=".NeuraLink.png" /></div>

      <div class="col"><img id="comete" src=".Etoiles.png" /></div>

      <div class="col"><img class="LogoP" src=".BitCoin.png" /></div>
    </div>
  </article>
</body>
