<body>
  <article>
    <br /><br />
    <div class="position">
      <table class="table">
        <thead>
          <tr>
            <th class="id">id</th>
            <th class="date">date reservation</th>
            <th class="passager">passager</th>
            <th class="aller">planete depart</th>
            <th class="aller">date depart</th>
            <th class="aller">heure depart</th>
            <th class="aller">planete arrivee</th>
            <th class="aller">date arrivee</th>
            <th class="aller">heure arrivee</th>
            <th class="activites">liste activites</th>
            <th class="client">client</th>
            <th colspan="2" class="modif">Modification</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of reservations">
            <td>{{ r.id }}</td>
            <td>{{ r.dateReservation }}</td>
            <td>
              <!--               <select
                class="form-control"
                id="passsagers"
                (click)="listpassager()"
              >
                <option disabled>Liste des passagers:</option>
                <option disabled *ngFor="let p of r.passager">
                  {{ p.nom }}
                </option>
                <option disabled>
                  {{ r.passager![0].nom }}
                </option>
              </select> -->
            </td>
            <td>{{ r.aller!.depart!.nom }}</td>
            <td>{{ r.aller!.dateDepart }}</td>
            <td>{{ r.aller!.heureDepart }}</td>
            <td>{{ r.aller!.arrivee!.nom }}</td>
            <td>{{ r.aller!.dateArrivee }}</td>
            <td>{{ r.activites }}</td>
            <td>{{ r.client!.nom }}</td>
            <td>
              <a
                [routerLink]="['/reservation', 'edit', r.id]"
                routerLinkActive="active"
                class="btn btn-outline-primary"
                >editer</a
              >
            </td>
            <td><button class="btn btn-outline-danger">supprimer</button></td>
          </tr>
        </tbody>
      </table>
      <div class="new">
        <a
          [routerLink]="['/reservation', 'edit']"
          routerLinkActive="active"
          class="btn btn-outline-info"
          >Création réservation</a
        >
      </div>
    </div>
  </article>
</body>
