<body>
  <article>
    <br /><br />
    <div class="position">
      <table class="table">
        <thead>
          <tr>
            <th class="id">id</th>
            <th class="date">date reservation</th>
            <th class="passager">passager</th>
            <th class="aller">trajet aller</th>
            <th class="retour">trajet retour</th>
            <th class="activite">liste activites</th>
            <th class="client">client</th>
            <th colspan="2">Modification</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of reservations">
            <td>{{ r.id }}</td>
            <td>{{ r.dateReservation }}</td>
            <td>{{ r.passager }}</td>
            <td>{{ r.aller }}</td>
            <td>{{ r.retour }}</td>
            <td>{{ r.activite }}</td>
            <td>{{ r.client }}</td>
            <td>
              <a
                [routerLink]="['/reservation', 'edit', r.id]"
                routerLinkActive="active"
                class="btn btn-outline-primary"
                >editer</a
              >
            </td>
            <td><button class="btn btn-outline-danger">supprimer</button></td>
          </tr>
        </tbody>
      </table>
      <div class="new">
        <a
          [routerLink]="['/reservation', 'edit']"
          routerLinkActive="active"
          class="btn btn-outline-info"
          >Création réservation</a
        >
      </div>
    </div>
  </article>
</body>
