<header>
  <!--<div class="col-11 col-md-2" id="menu">
    <a routerLink="/home">
      <img
        class="img-responsive"
        id="imgMenu"
        src="assets/banniere_Maison.png"
        alt=" "
    /></a>
  </div>
-->

  <div class="col-md-8 d-none d-md-flex" id="logo">
    <a routerLink="/home">
      <img
        class="img-responsive"
        id="imgLogo"
        src="assets/banniere_Logo.png"
        alt=" "
    /></a>

    <a routerLink="/menu_admin"><button class="btn">Menu admin</button></a>
    <a routerLink="/menu_client"><button class="btn">Menu Client</button></a>
    <a routerLink="/home"><button class="btn">Mon compte</button></a>
    <a routerLink="/connexion"><button class="btn">Se connecter</button></a>
    <a routerLink="/inscription"
      ><button class="btn">Créer un compte</button></a
    >
    <a routerLink="/home"><button class="btn">Se déconnecter</button></a>
  </div>
</header>
