<header>
  <div class="col-11 col-md-2" id="menu">
    <a href="banniere.jsp"
      ><img
        class="img-responsive"
        id="imgMenu"
        src="assets/banniere_Maison.png"
        alt=" "
    /></a>
  </div>
  <div class="col-md-8 d-none d-md-flex" id="logo">
    <a href="banniere.jsp"
      ><img
        class="img-responsive"
        id="imgLogo"
        src="assets/banniere_Logo.png"
        alt=" "
    /></a>
  </div>
  <div class="col-12 col-md-2 no-gutters" id="compteAccess">
    <div id="connexion">
      <a href="connexion.jsp">Se connecter</a>
    </div>
    <div id="inscription">
      <a href="inscription.jsp">Créer un compte</a>
    </div>

    <div id="deConnect">
      <a href="deconnection">Se déconnecter</a>
    </div>
  </div>
</header>
