header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #5b9bd5;
  text-align: center;
  align-content: center;
}

.img-responsive {
  height: 85px;
}

.logo {
  display: flex;
  justify-content: center;
  width: auto;
}

.menu {
  display: flex;
  justify-content: left;
  width: auto;
}
