body {
  height: 700px;
  width: 100%;
}
p {
  color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 2%;
}

.tableau {
  visibility: var(affich);
  background-color: white;
  height: auto;
  width: 1100px;
  text-align: center;
  border-radius: 10%;
}

.ensemble {
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
}
