<body>
  <article>
    <p>
      <b>TABLEAUX BDD</b>
    </p>
    <table classe="ensemble">
      <td class="choix">
        <tr>
          Bienvenu.e admin
        </tr>
        <tr>
          Martin Durand
        </tr>

        <tr>
          <button (click)="clicSurBoutonInfos()">Mes infos</button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonCompte()">Modifier les comptes</button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonPlanetes()">
            Modifier les planetes
          </button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonVaisseaux()">
            Modifier les vaisseaux
          </button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonActivites()">
            Modifier les activites
          </button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonVols()">Modifier les vols</button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonTrajets()">Modifier les trajets</button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonReservations()">
            Modifier les reservations
          </button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonPassagers()">
            Modifier les passagers
          </button>
        </tr>
      </td>

      <td class="vide"></td>

      <td class="contenu">
        <table class="tableau">
          import bdd
        </table>
      </td>
    </table>
  </article>
</body>
