<body>
  <h2>Bonjour Admin</h2>
  <br />

  <div id="texte">
    <p>
      En tant qu'administrateur vous avez le devoir de réaliser certaines tâches
      pour faire voyageez nos clients vers d'autres cieux:
    </p>
    <ul>
      Vérifier la présence des différentes planètes proposés !
      <br />
      Vérifier la liste des vaisseaux !
      <br />
      Vérifier la liste des trajets !
      <br />
      Vérifier la liste des activités !
      <br />
      Chercher de nouvelles destinations de voyages !
      <br />

      Mettre à disposition de nouveaux vaisseaux pour encore plus de voyages
      disponibles !!!
      <br />

      Vérifier la liste des activités !
      <br />
      Modifier les informations !
      <br />
    </ul>
  </div>
  <br />
  <h1>
    Mais surtout évitez de programmer un voyage vers un trou-noir un deuxième
    procès nous coulerait...
  </h1>
</body>
