<footer class="row no-gutters">
  <div class="col" id="faq">
    <a href="faq.jsp">Foire Aux Questions</a>
  </div>
  <div class="col" id="infos">
    <a href="infos.jsp">Infos Legales</a>
  </div>
  <div class="col" id="connaitre">
    <a href="connaitre.jsp">Nous connaitre</a>
  </div>
  <div class="col" id="contacts">
    <a href="contact.jsp">Contact</a>
  </div>
  <div class="col" id="paiements">
    <a href="paiement.jsp">Moyens de paiements</a>
  </div>
  <div class="col" id="missions">
    <a href="missions.jsp">Nos missions</a>
  </div>
</footer>
