<body>
  <article>
    <br /><br />
    <div>
      <button class="btn" (click)="affichTableau()" id="cccc">
        Afficher mes passsagers
      </button>
    </div>
    <ng-container *ngIf="affichOK">
      <table class="table">
        <thead>
          <tr>
            <!-- <th class="id">id</th> -->
            <th class="nom">Nom</th>
            <th clas="prenom">Prenom</th>
            <!--           <th class="client">client</th>
          <th colspan="2" class="modif">Modification</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of passagers">
            <!-- <td>{{ p.id }}</td> -->
            <td>{{ p.nom }}</td>
            <td>{{ p.prenom }}</td>

            <!--           <td>
            <a
              [routerLink]="['/passager', 'edit', p.id]"
              routerLinkActive="active"
              class="btn btn-outline-primary"
              >editer</a
            >
          </td>
          <td><button class="btn btn-outline-danger">supprimer</button></td> -->
          </tr>
        </tbody>
      </table>
      <!--     <div class="new">
      <a
        [routerLink]="['/passager', 'edit']"
        routerLinkActive="active"
        class="btn btn-outline-info"
        >Création passager</a
      >
    </div> -->
    </ng-container>
    <br /><br />
  </article>
</body>
