<body>
  <table class="table">
    <thead>
      <tr>
        <th class="nom">Nom</th>
        <th clas="prenom">Prénom</th>
        <th colspan="2" class="modif">Modification</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of passagers">
        <td>{{ p.nom }}</td>
        <td>{{ p.prenom }}</td>
        <td><button class="btn btn-outline-danger">Supprimer</button></td>
      </tr>
    </tbody>
  </table>
  <td id="new" *ngIf="visible">
    <button class="btn btn-outline-primary" (click)="visibilite()">
      Ajouter un passager
    </button>
  </td>
  <div *ngIf="!visible">
    <div class="form-group">
      <label>Nom</label>
      <input
        [(ngModel)]="passager.nom"
        class="form-control"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>Prénom</label>
      <input [(ngModel)]="passager.prenom" class="form-control" />
    </div>
    <button class="btn btn-outline-primary" (click)="ajouter()">
      Sauvegarder
    </button>
  </div>
</body>
