<body>
  <table class="table">
    <thead>
      <tr>
        <th class="nom">nom</th>
        <th clas="prenom">prenom</th>
        <th class="client">client</th>
        <th colspan="2" class="modif">Modification</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of passagers">
        <td>{{ p.nom }}</td>
        <td>{{ p.prenom }}</td>
        <td>{{ p.client!.nom }}</td>
        <td>
          <a
            [routerLink]="['/passager', 'edit', p.id]"
            routerLinkActive="active"
            class="btn btn-outline-primary"
            >editer</a
          >
        </td>
        <td><button class="btn btn-outline-danger">supprimer</button></td>
      </tr>
    </tbody>
  </table>
  <div class="new">
    <a
      [routerLink]="['/passager', 'edit']"
      routerLinkActive="active"
      class="btn btn-outline-info"
      >Création passager</a
    >
  </div>
</body>
