<div>
  <h1>edition reservation</h1>
  <div>
    <div class="form-group">
      <label>id</label>
      <input [(ngModel)]="reservation.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>date reservation</label>
      <input
        [(ngModel)]="reservation.dateReservation"
        class="form-control"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>passager</label>
      <input [(ngModel)]="reservation.passager" class="form-control" />
    </div>
    <div class="form-group">
      <label>trajet aller</label>
      <input [(ngModel)]="reservation.aller" class="form-control" />
    </div>
    <div class="form-group">
      <label>trajet retour</label>
      <input [(ngModel)]="reservation.retour" class="form-control" />
    </div>
    <div class="form-group">
      <label>activite</label>
      <input [(ngModel)]="reservation.activite" class="form-control" />
    </div>
    <div class="form-group">
      <label>client</label>
      <input [(ngModel)]="reservation.client" class="form-control" />
    </div>
  </div>
</div>
