body {
  background: calc();
  background-image: url("/assets/espace.jpg");
  padding-bottom: 2%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  color: white;
  text-align: justify;
}

table {
  border: none;
  display: flex;
  flex-direction: column;
}

.activite1,
.activite2,
.activite3,
.activite4,
.activite5 {
  background-color: white;
  height: 150px;
  border-radius: 10%;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
  display: flex;
  justify-content: space-around;
}

.vide {
  padding-bottom: 2%;
  border: none;
}

.photo,
.infos {
  padding: none;
}

img {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
}

#img1 {
  width: 140px;
  height: 140px;
  display: flex;
  align-items: center;
  margin-left: -2%;
}

#img2 {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  margin-left: -2%;
}

#img3 {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
  margin-left: 1%;
}

#img4 {
  width: 130px;
  height: 130px;
  display: flex;
  align-items: center;
}
