<body>
  <article>
    <h2>NOS ACTIVITES</h2>
    <br />
    <p>
      Faites de plein d'aventures de souvenirs en famille ou entre amis avec
      notre séléction d'activités pour tous les gouts et pour tous les budgets!
    </p>
    <br />
  </article>
  <table class="table">
    <td class="activite1">
      <tr>
        <td class="photo"><img src=".\assets\terre.png" /></td>
        <td class="infos">
          <h3>MONT FUDJI_ 100€ TTC/personne</h3>
          <p>
            Profitez d'un lieu unique en son genre, en hiver ou en été le mont
            Fudji vous fera rêver ! <br />
            Le tarif inclu le guide pour tenter l'ascension jusqu'au sommet.
            Attention un certain niveau d'alpinisme est recommandé !
          </p>
        </td>
      </tr>
    </td>
    <td class="vide"></td>
    <td class="activite2">
      <tr>
        <td><img id="img2" src=".\assets\uranus.png" /></td>
        <td class="infos">
          <h3>SURF _ 60€ TTC/personne</h3>
          <p>
            Profitez du Soleil et de la mer d'Uranus pour apprendre à surfer!
            <br />
            Le tarif inclu la location de la planche de surf, de la combinaison
            de plongée et d'un cours d'une heure uranienne.
          </p>
        </td>
      </tr>
    </td>
    <td class="vide"></td>
    <td class="activite3">
      <tr>
        <td><img id="img3" src=".\assets\mars.png" /></td>
        <td class="infos">
          <h3>Chameau _ 150€ TTC/personne</h3>
          <p>
            Decouvrez l'immensité des deserts au couché du soleil à dos de
            chameau sur la planete rouge
            <br />
            Le tarif inclu un diner local cuisiné par des locaux. Pensez à venir
            muni d'un couvre chef et d'une gourde, et oui il fait chaud sans
            atmosphere !
          </p>
        </td>
      </tr>
    </td>
    <td class="vide"></td>
    <td class="activite3">
      <tr>
        <td><img id="img4" src=".\assets\jupiter.png" /></td>
        <td class="infos">
          <h3>Chasse aux orages _ 300€ TTC/personne</h3>
          <p>
            Observez les plus gros orages que vous avez jamais vu!
            <br />
            Le tarif inclu la location du vehicule ainsi que kit "chasseur
            d'orage". Des chaussures et une combinaison en caoutchou vous seront
            fournies avant le debut de l'activité
          </p>
        </td>
      </tr>
    </td>
    <td class="vide"></td>
    <td class="activite3">
      <tr>
        <td><img src=".\assets\venus.png" /></td>
        <td class="infos">
          <h3>Sauna _ 12€ TTC/personne</h3>
          <p>
            Le sauna naturel le plus chaud de notre systeme solaire !
            <br />
            Tentez l'experience unique de vous cramer au soleil sous les 460°C
            de notre magnifique Venus ! Il est necessaire de se munir de
            lunettes de soleil renforcées et de crème solaire indice 320 au
            minimum.
          </p>
        </td>
      </tr>
    </td>
  </table>
</body>
