<div>
  <h1>edition passager</h1>
  <div>
    <div class="form-group">
      <label>id</label>
      <input [(ngModel)]="passager.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>nom</label>
      <input
        [(ngModel)]="passager.nom"
        class="form-control"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>prenom</label>
      <input [(ngModel)]="passager.prenom" class="form-control" />
    </div>
    <div class="form-group">
      <label>client</label>
      <input [(ngModel)]="passager.client" class="form-control" />
    </div>
  </div>
</div>
