<footer class="row no-gutters">
  <div class="col" id="faq">
    <a routerLink="/faq"><button class="btn">Foire aux questions</button></a>
  </div>
  <div class="col" id="infos">
    <a routerLink="/infos"><button class="btn">Infos légales</button></a>
  </div>
  <div class="col" id="connaitre">
    <a routerLink="/connaitre"><button class="btn">Nous connaître</button></a>
  </div>
  <div class="col" id="contacts">
    <a routerLink="/contact"><button class="btn">Contact</button></a>
  </div>
  <div class="col" id="paiements">
    <a routerLink="/paiement"><button class="btn">Paiements</button></a>
  </div>
  <div class="col" id="missions">
    <a routerLink="/missions"><button class="btn">Missions</button></a>
  </div>
</footer>
