body {
  background-image: url("/assets/espace.jpg");
  height: 482px;
  padding: 2.5%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}
#placement {
  position: relative;
  width: 60%;
  margin-left: 26%;
  margin-top: 0%;
  color: white;
}
h2 {
  text-align: center;
}
#texte {
  position: absolute;
  text-align: center;
  margin-left: 6%;
  margin-top: 9%;
}

table {
  color: whitesmoke;
}

td.colonne {
  width: 5%;
}

td.largeur {
  width: 25%;
}

form {
  width: 80%;
  padding: 30px;
  border: 1px solid #003396;
  background: #003396;
  border-radius: 10%;
  align-content: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  display: inline-block;
  border: 1px solid #ccc;
  /* box-sizing: border-box;*/
}

input[type="submit"] {
  position: relative;
  margin-left: 41%;
}
