<body>
  <article>
    <h2>Nous contacter</h2>
    <div id="placement">
      <form action="post">
        <table>
          <tr>
            <td class="largeur"></td>
            <td></td>
            <td class="colonne"></td>
            <td>
              <label>Message:</label>
            </td>
          </tr>
          <tr>
            <td class="largeur">
              <label>Nom:</label>
            </td>
            <td>
              <input
                type="text"
                placeholder="Entrez votre nom"
                name="nom"
                required
              />
            </td>
            <td class="colonne"></td>
            <td rowspan="5">
              <textarea
                rows="7"
                placeholder="Entrez votre message"
                name="message"
                required
              ></textarea>
            </td>
          </tr>
          <tr>
            <td class="largeur">
              <label>Prenom:</label>
            </td>
            <td>
              <input
                type="text"
                placeholder="Entrez votre prenom"
                name="prenom"
                required
              />
            </td>
            <td class="colonne"></td>
          </tr>
          <tr>
            <td class="largeur">
              <label>Email:</label>
            </td>
            <td>
              <input
                type="email"
                placeholder="Entrez votre email"
                name="mail"
                required
              />
            </td>
            <td class="colonne"></td>
          </tr>
          <tr>
            <td class="largeur">
              <label>Telephone:</label>
            </td>
            <td>
              <input type="tel" placeholder="Entrez votre numero" name="tel" />
            </td>
            <td class="colonne"></td>
          </tr>
          <tr>
            <td class="largeur">
              <label>Objet:</label>
            </td>
            <td>
              <input
                type="text"
                placeholder="Objet de la demande"
                name="username"
                required
              />
            </td>
            <td class="colonne"></td>
          </tr>
        </table>
        <br />
        <input
          class="btn btn-light"
          type="submit"
          id="submit"
          value="Envoyer"
        />
      </form>
    </div>
  </article>
</body>
