<body>
  <p>Bienvenue {{ client.nom }} {{ client.prenom }}</p>
  <table class="table">
    <td class="vide1"></td>
    <td class="choix">
      <tr>
        <button (click)="clicSurBoutonInfos()">MES INFORMATIONS</button>
      </tr>
      <br />
      <tr>
        <button (click)="clicSurBoutonReservations()">MES RESERVATIONS</button>
      </tr>
      <br />
      <tr>
        <button (click)="clicSurBoutonPassagers()">MES PASSAGERS</button>
      </tr>
    </td>

    <td class="vide2"></td>

    <td class="contenu">
      <br />
      <app-client *ngIf="affichInfos"></app-client>
      <app-passager
        *ngIf="affichPassagers"
        [clientEnvoi]="client"
      ></app-passager>
      <app-reservation *ngIf="affichReservations"></app-reservation>
    </td>
  </table>
</body>
