<body>
  <p>BONJOUR JOHN DOE</p>
  <table classe="ensemble">
    <td class="vide1"></td>
    <td class="choix">
      <tr>
        <button (click)="clicSurBoutonInfos()">MES INFORMATIONS</button>
      </tr>
      <br />
      <tr>
        <button (click)="clicSurBoutonReservations()">MES RESERVATIONS</button>
      </tr>
      <br />
      <tr>
        <button (click)="clicSurBoutonPassagers()">MES PASSAGERS</button>
      </tr>
    </td>

    <td class="vide2"></td>

    <td class="contenu">
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      consequuntur ipsam rem perspiciatis ad, commodi, corporis pariatur neque
      doloribus iste esse ut tempora optio nesciunt libero voluptas molestias?
      Tenetur, nulla!
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      consequuntur ipsam rem perspiciatis ad, commodi, corporis pariatur neque
      doloribus iste esse ut tempora optio nesciunt libero voluptas molestias?
      Tenetur, nulla!
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      consequuntur ipsam rem perspiciatis ad, commodi, corporis pariatur neque
      doloribus iste esse ut tempora optio nesciunt libero voluptas molestias?
      Tenetur, nulla!
      <br />
    </td>
  </table>
</body>
