<body>
  <article>
    <p>
      <b>TABLEAUX BDD</b>
    </p>
    <table classe="ensemble">
      <td class="choix">
        <tr>
          Bienvenu.e
        </tr>
        <tr>
          Martin Durand
        </tr>

        <tr>
          <button (click)="clicSurBoutonInfos()">Mes infos</button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonReservations()">
            Mes Reservations
          </button>
        </tr>
        <tr>
          <button (click)="clicSurBoutonPassagers()">Mes Passagers</button>
        </tr>
      </td>

      <td class="vide"></td>

      <td class="contenu">
        <table class="tableau">
          import bdd
        </table>
      </td>
    </table>
  </article>
</body>
