<nav>
  <a routerLink="/" routerLinkActive="active">home</a><br />
  <a [routerLink]="['/produits']" routerLinkActive="active">produits</a> <br />
  <a [routerLink]="['/produits/tele']" routerLinkActive="active"
    >produit tele</a
  >
  <br /><br />
  <a [routerLink]="['/parametre', 'olivier']" routerLinkActive="active"
    >test component parametre</a
  ><br />
  <a [routerLink]="['/parametre', 'toto']" routerLinkActive="active"
    >test component avec toto</a
  ><br /><br />

  <a routerLink="/nav" routerLinkActive="active">navigation par le code</a
  ><br />
</nav>
