<div>
  <h1>edition admin</h1>
  <div>
    <div class="form-group">
      <label>id</label>
      <input [(ngModel)]="client.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>login</label>
      <input
        [(ngModel)]="client.login"
        class="form-control"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>password</label>
      <input [(ngModel)]="client.password" class="form-control" />
    </div>
    <div class="form-group">
      <label>enabled</label>
      <input [(ngModel)]="client.enabled" class="form-control" />
    </div>
    <div class="form-group">
      <label>nom</label>
      <input [(ngModel)]="client.nom" class="form-control" />
    </div>
    <div class="form-group">
      <label>prenom</label>
      <input [(ngModel)]="client.prenom" class="form-control" />
    </div>
    <div class="form-group">
      <label>reservations</label>
      <input [(ngModel)]="client.reservations" class="form-control" />
    </div>
  </div>
</div>
