<div>
  <h1>Vos informations client</h1>
  <div>
    <div class="form-group">
      <label>Id</label>
      <input [(ngModel)]="client.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>Votre login</label>
      <input [(ngModel)]="client.login" class="form-control" />
    </div>
    <!--     <div class="form-group">
      <label>password</label>
      <input [(ngModel)]="client.password" class="form-control" />
    </div> -->
    <div class="form-group">
      <label>Votre nom</label>
      <input [(ngModel)]="client.nom" class="form-control" />
    </div>
    <div class="form-group">
      <label>Votre prénom</label>
      <input [(ngModel)]="client.prenom" class="form-control" />
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-primary" (click)="save()">
      Enregistrer
    </button>
  </div>
</div>
<button class="btn btn-outline-primary" (click)="contenu()"></button>
