body {
  margin: 0px;
  background-image: url("/assets/espace.jpg");
  padding-bottom: 2%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}
