<body>
  <article id="articcle">
    <br />
    <h2>FAQ</h2>
    <br />
    <ul>
      <p>
        <b>Je souhaite annuler ma réservation, suis-je remboursé?</b> <br />
        Vous pouvez annuler votre réservation sans frais jusqu'à une semaine
        avant le départ. Vous recevrez un bon d'achat pour un prochain voyage.
        Pour un délai inférieur, c'est trop tard mais vous pouvez choisir à
        quelle association vous reverserez votre mise.
      </p>
      <br /><br />

      <p>
        <b>Je souhaite changer un voyageur.</b> <br />
        Une fois la réservation validée, notre compagnie envoie les informations
        des passagers aux futures planètes visitées, le changement n'est donc
        pas possible. Vous pouvez néanmoins annuler le billet du voyageur ne
        souhaitant plus partir.
      </p>
      <br /><br />

      <p>
        <b>Je souhaite voyager avec mon animal, doit-il voyager en soute?</b>
        <br />
        Si votre animal de compagnie pèse moins de 10 kg et rentre dans un sac
        cabine, il peut voyager dans un panier fermé avec atmosphère protectrice
        pour le modique prix d'un billet adulte. Sinon il voyagera cryogénisé
        (avec amour) en soute.
      </p>
      <br /><br />

      <p>
        <b
          >Je ne trouve plus la destination Soleil, qu'en est-il réellement ?</b
        >
        <br />
        Malheureusement depuis la dernière éruption solaire, une partie de notre
        spatioport a été abimé... Par mesure de précaution, Voyageez a pris la
        décision de suspendre ses liaisons avec le Soleil jusqu'à la fin des
        réparations.
      </p>
      <br />
    </ul>
  </article>
</body>
