body {
  background-image: url("espace.jpg");
  height: 100%;
  width: 100%;
  margin: 0px;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}
