body {
  background-image: url("/assets/espace.jpg");
  margin: 0px;
}

article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

.position {
  position: relative;
  right: 0%;
  width: 100%;
}

table {
  color: whitesmoke;
  max-width: 90%;
  min-width: 100px;
}

th,
td {
  text-align: center;
}

th.id {
  width: 5%;
}

th.prix {
  width: 6%;
}

th.depart {
  width: 15%;
}

th.arrivee {
  width: 15%;
}

th.modif {
  width: 10%;
}

.new {
  position: relative;
  margin-left: 44%;
}

#col1,
#col4 {
  width: 30%;
}

#col2 {
  width: 20%;
  border-right: white;
}

#col3 {
  width: 18%;
  text-align: right;
}

.reservation {
  position: relative;
  margin-left: 40%;
}
