<body>
  <article>
    <br /><br />
    <div class="position">
      <table class="table">
        <thead>
          <tr>
            <th class="id">id</th>
            <th class="ddepart">date depart</th>
            <th class="hdepart">heure depart</th>
            <th class="darrivee">date arrivee</th>
            <th class="harrivee">heure arrivee</th>
            <th class="prix">prix</th>
            <th class="depart">planete depart</th>
            <th class="arrivee">planete arrivee</th>
            <th class="vaisseau">vaisseau</th>
            <th colspan="2" class="modif">Modification</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of trajets">
            <td>{{ t.id }}</td>
            <td>{{ t.dateDepart }}</td>
            <td>{{ t.heureDepart }}</td>
            <td>{{ t.dateArrivee }}</td>
            <td>{{ t.heureArrivee }}</td>
            <td>{{ t.prix }}</td>
            <td>{{ t.depart!.nom }}</td>
            <td>{{ t.arrivee!.nom }}</td>
            <td>{{ t.vaisseau!.nom }}</td>

            <td>
              <div>
                <a
                  [routerLink]="['/trajet', 'edit', t.id]"
                  routerLinkActive="active"
                  class="btn btn-outline-primary"
                  >editer</a
                >
              </div>
            </td>
            <td><button class="btn btn-outline-danger">supprimer</button></td>
          </tr>
        </tbody>
      </table>
      <div class="new">
        <a
          [routerLink]="['/trajet', 'edit']"
          routerLinkActive="active"
          class="btn btn-outline-info"
          >Création trajet</a
        >
      </div>
    </div>
  </article>
</body>
