body {
  margin: 0px;
}

article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

.position {
  position: relative;
  right: 0%;
  width: 100%;
}

#recherche {
  color: grey;
}
table {
  color: whitesmoke;
  max-width: 90%;
  min-width: 100px;
}

th,
td {
  text-align: center;
}

th.id {
  width: 5%;
}

th.prix {
  width: 6%;
}

th.depart {
  width: 15%;
}

th.arrivee {
  width: 15%;
}

th.modif {
  width: 10%;
}

.new {
  position: relative;
  margin-left: 44%;
}
