<body>
  <article>
    <br /><br />
    <div class="position">
      <table class="table">
        <thead>
          <tr>
            <th class="id">Id</th>
            <th class="ddepart">Date départ</th>
            <th class="hdepart">Heure départ</th>
            <th class="darrivee">Date arrivée</th>
            <th class="harrivee">Heure arrivée</th>
            <th class="prix">Prix</th>
            <th class="depart">Planète départ</th>
            <th class="arrivee">Planète arrivée</th>
            <th class="vaisseau">Vaisseau</th>
            <th colspan="2" class="modif">Modification</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of trajets">
            <td>{{ t.id }}</td>
            <td>{{ t.dateDepart }}</td>
            <td>{{ t.heureDepart }}</td>
            <td>{{ t.dateArrivee }}</td>
            <td>{{ t.heureArrivee }}</td>
            <td>{{ t.prix }}</td>
            <td>{{ t.depart!.nom }}</td>
            <td>{{ t.arrivee!.nom }}</td>
            <td>{{ t.vaisseau!.nom }}</td>

            <td>
              <div>
                <a
                  [routerLink]="['/trajet', 'edit', t.id]"
                  routerLinkActive="active"
                  class="btn btn-outline-primary"
                  >Editer</a
                >
              </div>
            </td>
            <td>
              <button
                class="btn btn-outline-danger"
                (click)="delete(t.id!)"
                *ngIf="!trajetUtilise(t)"
              >
                Supprimer
              </button>
              <p *ngIf="trajetUtilise(t)">Trajet encore utilisé !</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="new">
        <a
          [routerLink]="['/trajet', 'edit']"
          routerLinkActive="active"
          class="btn btn-outline-info"
          >Création trajet</a
        >
      </div>
    </div>
    <br /><br />
  </article>
</body>
