body {
  background: calc();
  background-image: url("/assets/espace.jpg");
  margin: 0px;
  padding-bottom: 2%;
}

article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}
