<body>
  <article>
    <br />
    <h2>Nous connaître</h2>
    <br />
    <ul>
      <p>
        Voyageez est une petite équipe de passionnés d’exploration
        intergalactique qui s’est mis en tête de vous créer la meilleure agence
        de voyage imaginable. Nous avons été les premiers à mettre à disposition
        des vols permettant de voyager vers d'autres cieux.
      </p>
      <br />

      <p>
        Amaël « Il n’y a pas un recoin caché de l’espace que je ne connais pas »
        _PDG
      </p>

      <p>Stéphane «  Coucou moi c’est Stéphane » _Vice-Président</p>

      <p>
        Alexis «  Farniente et doigts de pieds en éventail, je connais les coins
        les plus branchés de l’espace » _Scrum_Masters
      </p>

      <p>Chloé «  La nourriture intergalactique, ça vous tente?» _Architecte</p>

      <p>
        Manon « J’aime l’action, l’aventure mais le confort aussi, je suis la
        pro des séjours insolites » _Développeuse
      </p>

      <br />
      <p>
        Si vous voulez vivre de nouvelles aventures, prenez vite votre billet
        pour pouvoir surfer sur Mercure, escalader des montagnes rocheuses sur
        Mars...N'hésitez plus notre équipe est là pour vous !!
      </p>
    </ul>
  </article>
</body>
