<body>
  <article>
    <h2>Nous connaitre</h2>
    <br />
    <ul>
      <p>
        Voyageez est une petite équipe de passionnés d’exploration
        intergalactique qui s’est mis en tête de vous créer la meilleure agence
        de voyage imaginable.
      </p>

      <p>
        Amael « Il n’y a pas un recoin caché de l’espace que je ne connais pas »
        _PDG
      </p>

      <p>Stephane «  Coucou moi c’est Stéphane » _Vice-Président</p>

      <p>
        Alexis «  Farniente et doigts de pieds en éventail, je connais les coins
        les plus branchés de l’espace » _Rôle
      </p>

      <p>
        Manon « J’aime l’action, l’aventure mais le confort aussi, je suis la
        pro des séjours insolites » _Rôle
      </p>

      <p>Chloé «  La nourriture intergalactique, ça vous tente?» _Rôle</p>
    </ul>
  </article>
</body>
