body {
  height: auto;
  min-height: 700px;
  width: 100%;
  padding-bottom: 2%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  color: white;
}

h3 {
  text-align: center;
}

form {
  display: inline-block;
  background-color: #003396;
  border-radius: 10%;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

button {
  display: flex;
  justify-content: center;
}

.vide {
  width: 5%;
}
