<body>
  <article>
    <br /><br />
    <div class="position">
      <table class="table">
        <thead>
          <tr>
            <th class="id">Votre id:</th>
            <th class="login">Votre login:</th>
            <th class="nom">nom</th>
            <th class="prenom">prenom</th>
            <th colspan="2">Modification</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.login }}</td>
            <td>{{ client.password }}</td>
            <td>{{ client.enabled }}</td>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
            <td>{{ client.reservations }}</td>
            <td>
              <a
                [routerLink]="['/client', 'edit', client.id]"
                routerLinkActive="active"
                class="btn btn-outline-primary"
                >editer</a
              >
            </td>
            <td><button class="btn btn-outline-danger">supprimer</button></td>
          </tr>
        </tbody>
      </table>
      <div class="new">
        <a
          [routerLink]="['/client', 'edit']"
          routerLinkActive="active"
          class="btn btn-outline-info"
          >Création client</a
        >
      </div>
    </div>
    <br /><br />
  </article>
</body>
