<body>
  <article>
    <br /><br />
    <div class="position">
      <table class="table">
        <thead>
          <tr>
            <th class="id">Votre id:</th>
            <th class="login">Votre login:</th>
            <th class="nom">nom</th>
            <th class="prenom">prenom</th>
            <th colspan="2">Modification</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ client.id }}</td>
            <td>{{ client.login }}</td>
            <td>{{ client.nom }}</td>
            <td>{{ client.prenom }}</td>
            <td>
              <a
                [routerLink]="['/client', 'edit', client.id]"
                routerLinkActive="active"
                class="btn btn-outline-primary"
                >Editer</a
              >
            </td>
            <td><button class="btn btn-outline-danger">Supprimer</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br /><br />
    <td>
      <button class="btn btn-outline-danger" (click)="contenu()">
        contenu
      </button>
    </td>
  </article>
</body>
