<body>
  <!--<div class="col-11 col-md-2" id="menu">
    <a routerLink="/home">
      <img
        class="img-responsive"
        id="imgMenu"
        src="assets/banniere_Maison.png"
        alt=" "
    /></a>
  </div>
-->
  <div id="contenu">
    <td id="logo">
      <a routerLink="/home">
        <img
          class="img-responsive"
          id="imgLogo"
          src="assets/banniere_Logo.png"
          alt=" "
      /></a>
    </td>
    <td id="mennus">
      <a routerLink="/menu_admin"><button class="btn">Menu admin</button></a
      ><br />
      <a routerLink="/menu_client"><button class="btn">Menu Client</button></a>
    </td>

    <td id="connecte">
      <div>
        <a routerLink="/home"><button class="btn">Mon compte</button></a>
      </div>
      <div>
        <a routerLink="/home"><button class="btn">Se déconnecter</button></a>
      </div>
    </td>

    <td id="connexxion">
      <div>
        <a routerLink="/connexion"><button class="btn">Se connecter</button></a>
      </div>
      <div>
        <a routerLink="/inscription"
          ><button class="btn">Créer un compte</button></a
        >
      </div>
    </td>
  </div>
</body>
