<nav id="toto">
  <header class="row no-gutters">
    <div class="container">
      <div class="row">
        <div class="col" id="maison">
          <a routerLink="/home" routerLinkActive="active"
            ><img
              class="img-responsive"
              id="imgMaison"
              src="./assets/banniere_Maison.png"
              alt=""
          /></a>
        </div>
        <div class="col-6">
          <div>
            <a routerLink="/home" routerLinkActive="active">
              <img
                class="img-responsive"
                id="imgLogo"
                src="assets/banniere_Logo.png"
                alt=" "
            /></a>
          </div>
        </div>
        <div class="col">
          <ng-container *ngIf="!login">
            <a
              *ngIf="!login"
              routerLink="/inscription"
              routerLinkActive="active"
              class="btn"
              >Inscription</a
            ><br />
            <a
              *ngIf="!login"
              routerLink="/login"
              routerLinkActive="active"
              class="btn"
              >Connexion</a
            >
          </ng-container>

          <ng-container *ngIf="!!login && role == 'admin'">
            <a routerLink="/menu_admin" routerLinkActive="active">
              <button class="btn">Mon compte admin</button></a
            ><br />
            <a routerLink="/home" routerLinkActive="active">
              <button *ngIf="!!login" (click)="logoff()" class="btn">
                Deconnexion
              </button>
            </a>
          </ng-container>

          <ng-container *ngIf="!!login && role == 'client'">
            <a routerLink="/menu_client" routerLinkActive="active">
              <button class="btn">Mon compte client</button></a
            ><br />
            <a routerLink="/home" routerLinkActive="active">
              <button *ngIf="!!login" (click)="logoff()" class="btn">
                Deconnexion
              </button>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </header>
</nav>
