<nav>
  <a routerLink="/" routerLinkActive="active" class="btn btn-link">home</a>
  <a routerLink="/planete" routerLinkActive="active" class="btn btn-link"
    >planete</a
  >
  <a
    *ngIf="!!login"
    routerLink="/compagnon"
    routerLinkActive="active"
    class="btn btn-link"
    >compagnon</a
  >
  <a routerLink="/formulaire" routerLinkActive="active" class="btn btn-link"
    >formulaire</a
  >
  <a
    *ngIf="!login"
    routerLink="/inscription"
    routerLinkActive="active"
    class="btn btn-link"
    >inscription</a
  >
  <a
    *ngIf="!login"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <button *ngIf="!!login" (click)="logoff()" class="btn btn-link">
    deconnection
  </button>
</nav>
