body {
  background-image: url("/assets/espace.jpg");
}

article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

table {
  color: whitesmoke;
  max-width: 90%;
  min-width: 100px;
}

th,
td {
  text-align: center;
}

th.id {
  width: 5%;
}

th.nom {
  width: 40%;
}

th.type {
  width: 30%;
}

.new {
  position: relative;
  margin-left: 38%;
}

table.passaActi {
  background-color: red;
  border: salmon;
}
