<body>
  <div class="row" id="planetes">
    <div class="col" id="planetes">
      <a routerLink="/planetes"><button class="btn">Planetes</button></a>
    </div>
    <div class="col" id="activites">
      <a routerLink="/activites"><button class="btn">Activites</button></a>
    </div>
    <div class="col" id="vols">
      <a routerLink="/vols"><button class="btn">Vols</button></a>
    </div>
    <div class="col" id="offres">
      <a routerLink="/offres"><button class="btn">Offres</button></a>
    </div>
    <div class="col" id="planetes">
      <a routerLink="/planete" routerLinkActive="active" class="btn btn-link"
        >planete</a
      >
    </div>
    <div class="col" id="activites">
      <a routerLink="/activite"><button class="btn">Activite</button></a>
    </div>
    <div class="col" id="admins">
      <a routerLink="/admin"><button class="btn">Admin</button></a>
    </div>
    <div class="col" id="clients">
      <a routerLink="/client"><button class="btn">Client</button></a>
    </div>
    <div class="col" id="passagers">
      <a routerLink="/passager"><button class="btn">Passager</button></a>
    </div>
    <div class="col" id="reservations">
      <a routerLink="/reservation"><button class="btn">Reservations</button></a>
    </div>
    <div class="col" id="trajets">
      <a routerLink="/trajet"><button class="btn">Trajet</button></a>
    </div>
    <div class="col" id="vaisseaux">
      <a routerLink="/vaisseau"><button class="btn">Vaisseau</button></a>
    </div>
  </div>
</body>
