<body>
  <div class="row" id="planetes">
    <div class="col" id="planetes">
      <a routerLink="/planetes"><button class="btn">Planetes</button></a>
    </div>
    <div class="col" id="activites">
      <a routerLink="/activites"><button class="btn">Activites</button></a>
    </div>
    <div class="col" id="vols">
      <a routerLink="/vols"><button class="btn">Vols</button></a>
    </div>
    <div class="col" id="offres">
      <a routerLink="/offres"><button class="btn">Offres</button></a>
    </div>
    <div class="col" id="planetes">
      <a routerLink="/planete" routerLinkActive="active" class="btn btn-link"
        >planete</a
      >
    </div>
  </div>
</body>
