<nav id="toto">
  <ng-container *ngIf="!login || (!!login && role == 'client')">
    <a routerLink="/planetes" routerLinkActive="active"
      ><button class="btn">Planètes</button></a
    >
    <a routerLink="/trajet" routerLinkActive="active"
      ><button class="btn">Vols</button></a
    >
    <a routerLink="/offres" routerLinkActive="active"
      ><button class="btn">Offres</button></a
    >
    <a routerLink="/activites" routerLinkActive="active"
      ><button class="btn">Activités</button></a
    >
  </ng-container>

  <ng-container *ngIf="!!login && role == 'admin'">
    <a routerLink="/planete" routerLinkActive="active" class="btn">Planètes</a>
    <a routerLink="/activite" routerLinkActive="active" class="btn"
      >Activités</a
    >
    <a routerLink="/vaisseau" routerLinkActive="active" class="btn"
      >Vaisseaux</a
    >
    <a routerLink="/trajet" routerLinkActive="active" class="btn">Trajets</a>
  </ng-container>
</nav>
