body {
  background-image: url("/assets/espace.jpg");
  height: auto;
  width: 100%;
}

article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

table {
  color: whitesmoke;
}

th,
td {
  text-align: center;
}

th.id {
  width: 5%;
}

th.nom {
  width: 30%;
}

th.capacite {
  width: 10%;
}

th.capitaine {
  width: 30%;
}

.new {
  position: relative;
  margin-left: 38%;
}
