body {
}

article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

table {
  color: whitesmoke;
  max-width: 90%;
  min-width: 100px;
}

th,
td {
  text-align: center;
}

th.id {
  width: 5%;
}

th.nom {
  width: 30%;
}

th.capacite {
  width: 10%;
}

th.capitaine {
  width: 30%;
}

.new {
  position: relative;
  margin-left: 38%;
}
