<body>
  <article>
    <h2>MOYEN DE PAIEMENTS</h2>
    <br />
    <!-- <ul> -->
    <!--<div class="container overflow-hidden"> -->
    <div class="row form-group" id="grille">
      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_Visalogo.svg.png"
          alt=" "
        />
      </div>

      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_ANCV.png"
          alt=" "
        />
      </div>

      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_BitCoin.png"
          alt=" "
        />
      </div>

      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_Comete.png"
          alt=" "
        />
      </div>
    </div>

    <div class="row" id="grille">
      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_Etoiles.png"
          alt=" "
        />
      </div>

      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_MasterCard.png"
          alt=" "
        />
      </div>

      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_NeuralLink.png"
          alt=" "
        />
      </div>

      <div class="col">
        <img
          class="img-responsive"
          id="LogoP"
          src="assets/paiement_Paypal.png"
          alt=" "
        />
      </div>
    </div>
  </article>
</body>
