body {
  background-image: url("/assets/espace.jpg");
  height: 700px;
  width: 100%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

#grille {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoP {
  width: 20px;
  justify-content: center;
}

#comete {
  width: 10px;
  justify-content: center;
}

.img-responsive {
  height: 85px;
}
