body {
  background-image: url("/assets/espace.jpg");
  height: 700px;
  width: 100%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

#grille {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoP {
  width: 10%;
  justify-content: center;
  height: 20%;
}

#comete {
  width: 50%;
  justify-content: center;
}

#etoile {
  width: 60%;
  justify-content: center;
}
.img-responsive {
  height: 80%;
  width: 80%;
  justify-content: center;
}

.form-group {
  margin-bottom: 7%;
  margin-top: 5%;
}
