<div>
  <h1>edition activite</h1>
  <div>
    <div class="form-group">
      <label>id</label>
      <input [(ngModel)]="activite.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>nom</label>
      <input [(ngModel)]="activite.nom" class="form-control" />
    </div>
    <div class="form-group">
      <label>prix</label>
      <input [(ngModel)]="activite.prix" class="form-control" />
    </div>
    <div class="form-group">
      <label>planete</label>
      <input [(ngModel)]="activite.planete" class="form-control" />
    </div>
  </div>
</div>
