body {
  width: 100%;
}

article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

#article1 {
  margin-bottom: 2%;
}

#article2 {
  margin-top: 2%;
}

#slideshow {
  overflow: hidden;
  width: 1000px;
  height: 400px;
  position: relative;
  margin: auto;
  margin-bottom: 2%;
}

#slideshow-container {
  width: 4000px;
  animation: slide 18s ease infinite;
}

#mySlides {
  float: left;
  height: 400px;
  width: 1000px;
  background-size: cover;
}

#mySlides:nth-child(1) {
  background-image: url("/assets/home_img1.jpg");
}

#mySlides:nth-child(2) {
  background-image: url("/assets/home_img2.jpg");
}

#mySlides:nth-child(3) {
  background-image: url("/assets/home_img3.jpg");
}

#mySlides:nth-child(4) {
  background-image: url("/assets/home_img4.jpg");
}

#numbertext1,
#numbertext2,
#numbertext3,
#numbertext4 {
  color: whitesmoke;
  position: relative;
  margin-top: 37.5%;
}

#numbertext1 {
  margin-left: 13%;
}

#numbertext2 {
  margin-left: 19%;
}

#numbertext3 {
  margin-left: 19%;
}

#numbertext4 {
  margin-left: 11%;
}

#text {
  position: relative;
  bottom: 0;
  color: white;
}

@keyframes slide {
  20% {
    margin-left: 0px;
  }
  30% {
    margin-left: -1000px;
  }
  50% {
    margin-left: -1000px;
  }
  60% {
    margin-left: -2000px;
  }
  70% {
    margin-left: -2000px;
  }
  80% {
    margin-left: -3000px;
  }
  90% {
    margin-left: -3000px;
  }
}
