<body>
  <article id="article1">
    <br />
    <h1>
      Bienvenue sur le site de la première agence de voyages interplanétaires
      pour tous!<br />
    </h1>
    <p>
      Notre mission: vous proposer des services de qualité pour que vos vacances
      dans les étoiles soient les plus belles possibles.<br />
      Pour toi, qui aime le frisson et l'aventure, ou encore toi, qui veut te
      dorer la pilule au soleil, et toi là-bas, qui ne sait pas faire autrement
      que t'y prendre à la dernière minute pour tes vacances et pour tous les
      autres que l'on embrasse fort <3... <br />
      <br />
      Il ne vous reste qu'à commencer votre recherche, cliquez et ...
    </p>
    <h2 align="right">...Voyageez vers d'autres cieux !</h2>
  </article>

  <div id="slideshow">
    <div id="slideshow-container">
      <div id="mySlides">
        <div id="numbertext1">
          1 / 4 : Magnifique vue du lever de soleil sur la planète Vénus, le
          meilleur spot romantique de la galaxie.
        </div>
      </div>
      <div id="mySlides">
        <div id="numbertext2">
          2 / 4 : Les canyons de Mars, une aventure a couper le souffle en
          famille ou entre amis.
        </div>
      </div>
      <div id="mySlides">
        <div id="numbertext3">
          3 / 4 : Et pourquoi pas une croisière autour de Mercure pour oublier
          la grisaille de l'hiver.
        </div>
      </div>
      <div id="mySlides">
        <div id="numbertext4">
          4 / 4 : Sur Uranus, vous pouvez observer les plus belles aurores
          boréales de la Voie Lactée, alors ? Ca vous tente ?
        </div>
      </div>
    </div>
  </div>
</body>
