<body>
  <article id="article1">
    <br />
    <h1>
      Bienvenue sur le site de la première agence de voyages interplanetaires
      pour tous!<br />
    </h1>
    <p>
      Notre mission: vous proposer des services de qualités pour que vos
      vacances dans les étoiles soient les plus belles possibles.<br />
      Pour toi, qui aime le frisson et l'aventure, ou encore toi, qui veut te
      dorer la pillule au soleil, et toi là bas, qui ne sais pas faire autrement
      que te prendre à la dernière minute pour tes vacances et pour tous les
      autres qu'on embrasse fort <3... <br />
      <br />
      Il ne vous reste qu'à commencer votre recherche, cliquez et ...
    </p>
    <h2 align="right">...Voyageez vers d'autres cieux!</h2>
  </article>

  <div id="slideshow">
    <div id="slideshow-container">
      <div id="mySlides">
        <div id="numbertext">1 / 4</div>
        <div id="text">
          Magnifique vue du levé de soleil sur la planète Venus, le meilleur
          spot romantique de la galaxie.
        </div>
      </div>
      <div id="mySlides">
        <div id="numbertext">2 / 4</div>
        <div id="text">
          Les canyons de Mars, une aventure à couper le souffle en famille ou
          entre amis.
        </div>
      </div>
      <div id="mySlides">
        <div id="numbertext">3 / 4</div>
        <div id="text">
          Et pourquoi pas une croisière autour de Mercure pour oublier la
          grisaille de l'hivers.
        </div>
      </div>
      <div id="mySlides">
        <div id="numbertext">4 / 4</div>
        <div id="text">
          Sur Uranus, vous pouvez observer les plus belles aurores boréales de
          la Voie Lactée, alors ? Ca vous tente ?
        </div>
      </div>
    </div>
  </div>
</body>
