body {
  height: 700px;
  width: 100%;
  margin: 0px;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
}

h2 {
  color: white;
  text-align: center;
}

#container {
  position: absolute;
  width: 40%;
  margin-left: 35%;
  margin-top: 5%;
  color: white;
}

#container h2 {
  text-align: center;
}

#texte {
  position: absolute;
  text-align: center;
  margin-left: 6%;
  margin-top: 9%;
}

form {
  width: 100%;
  padding: 30px;
  border: 1px solid #003396;
  background: #003396;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: white;
  color: #53af57;
  border: 1px solid #53af57;
}

#image1 {
  width: 40%;
}

#imageP {
  position: absolute;
  margin-left: 70%;
  margin-top: 3%;
}
#imageP {
  position: absolute;
  margin-left: 90%;
  margin-bottom: 0%;
}

#imgCo {
  width: 1000%;
}

input[type="submit"] {
  background-color: #003396;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
