<div id="texte">
  <h2>
    Faites confiance à nos<br />
    pilotes d'exceptions<br />
    Leur metier,<br />
    notre fierte
  </h2>
  <br />
  <img id="image1" src="./assets/logo_blanc.png" />
</div>
<div id="container">
  <article>
    <form (ngSubmit)="validate()" [formGroup]="form">
      <h2>Connexion</h2>
      <br /><br />
      <table border class="table table-bordered">
        <tr *ngIf="error" coslpan="3">
          erreur authentification
        </tr>
        <tr>
          <td>login :</td>
          <td><input formControlName="login" /></td>
          <td
            *ngIf="
              form.controls['login'].dirty && form.controls['login'].invalid
            "
          >
            login invalide
          </td>
        </tr>
        <tr>
          <td>password :</td>
          <td><input formControlName="password" type="password" /></td>
          <td
            *ngIf="
              form.controls['password'].dirty &&
              form.controls['password'].invalid
            "
          >
            password invalide
          </td>
        </tr>
      </table>
      <div><button type="submit">Se connecter</button></div>
    </form>
    <br /><br />
  </article>
  <div id="imageP">
    <img id="imgCo" src="./assets/astronaute.png" alt="" />
  </div>
</div>
