<body>
  <article>
    <form (ngSubmit)="validate()" [formGroup]="form">
      <table>
        <tr *ngIf="error" coslpan="3">
          erreur authentification
        </tr>
        <tr>
          <td>login :</td>
          <td><input formControlName="login" /></td>
          <td
            *ngIf="
              form.controls['login'].dirty && form.controls['login'].invalid
            "
          >
            login invalide
          </td>
        </tr>
        <tr>
          <td>password :</td>
          <td><input formControlName="password" type="password" /></td>
          <td
            *ngIf="
              form.controls['password'].dirty &&
              form.controls['password'].invalid
            "
          >
            password invalide
          </td>
        </tr>
        <div><button type="submit">connection</button></div>
      </table>
    </form>
  </article>
</body>
