<div>
  <h1>edition reservation</h1>
  <div>
    <div class="form-group">
      <label>id</label>
      <input [(ngModel)]="trajet.id" readonly class="form-control" />
    </div>
    <div class="form-group">
      <label>date depart</label>
      <input
        [(ngModel)]="trajet.dateDepart"
        class="form-control"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label>heure depart</label>
      <input [(ngModel)]="trajet.heureDepart" class="form-control" />
    </div>
    <div class="form-group">
      <label>date arrivee</label>
      <input [(ngModel)]="trajet.dateArrivee" class="form-control" />
    </div>
    <div class="form-group">
      <label>heure arrivee</label>
      <input [(ngModel)]="trajet.heureArrivee" class="form-control" />
    </div>
    <div class="form-group">
      <label>prix</label>
      <input [(ngModel)]="trajet.prix" class="form-control" />
    </div>
    <div class="form-group">
      <label>planete depart</label>
      <input [(ngModel)]="trajet.planeteDepart" class="form-control" />
    </div>
    <div class="form-group">
      <label>planete arrivee</label>
      <input [(ngModel)]="trajet.planeteArrivee" class="form-control" />
    </div>
    <div class="form-group">
      <label>vaisseau</label>
      <input [(ngModel)]="trajet.vaisseau" class="form-control" />
    </div>
  </div>
</div>
