<body>
  <article>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Planete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of activites">
          <td>{{ a.id }}</td>
          <td>{{ a.nom }}</td>
          <td>{{ a.prix }}</td>
          <td>{{ a.planete!.nom }}</td>
          <td>
            <a
              [routerLink]="['/activite', 'edit', a.id]"
              routerLinkActive="active"
              class="btn btn-outline-primary"
              >Editer</a
            >
          </td>
          <td><button class="btn btn-outline-danger">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
    <a
      [routerLink]="['/activite', 'edit']"
      routerLinkActive="active"
      class="btn btn-link"
      >Nouvelle activité</a
    >
    <div>
      <button class="btn btn-outline-danger" (click)="contenu()">
        Contenu
      </button>
    </div>
  </article>
</body>
