<body>
  <article>
    <br /><br />
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nom</th>
          <th>Prix</th>
          <th>Planete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of activites">
          <td>{{ a.id }}</td>
          <td>{{ a.nom }}</td>
          <td>{{ a.prix }}</td>
          <td>{{ a.planete!.nom }}</td>
          <td>
            <a
              [routerLink]="['/activite', 'edit', a.id]"
              routerLinkActive="active"
              class="btn btn-outline-primary"
              >Editer</a
            >
          </td>
          <td>
            <button
              class="btn btn-outline-danger"
              (click)="delete(a.id!)"
              *ngIf="!activiteUtilise(a)"
            >
              Supprimer
            </button>
            <p *ngIf="activiteUtilise(a)">Activité utilisée !</p>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="new">
      <br />
      <a
        [routerLink]="['/activite', 'edit']"
        routerLinkActive="active"
        class="btn btn-outline-primary"
        >Création d'une activite</a
      >
    </div>
    <br /><br />
  </article>
</body>
