body {
  margin: 0px;
}
table {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  text-align: justify;
  max-width: 90%;
  min-width: 100px;
}
.new {
  position: relative;
  margin-left: 38%;
}

th,
td {
  text-align: center;
}
