<body>
  <article>
    <br />
    <h2>NOS OFFRES</h2>
    <br />
    <p>
      <b> Promotions Terre-Mars -15% jusqu'au 34 septembre</b><br />Marre de
      Omicron, venez sur Mars, atmosphere anticovid garantie à 100% (prouvé par
      100 scientifiques indépendants) InterplanetTravail possible avec la 6G!
    </p>
    <br /><br />
    <p>
      <b> Neptune-Uranus -40% jusqu'à hier</b><br />
      Vous avez toujours rêvé de surfer à l'infini, n'attendez plus. C'est la
      saison des anneaux, hotels tout confort et vagues au pied de l'hotel
      garanti
    </p>
    <br /><br />
  </article>
</body>
