body {
  height: auto;
  min-height: 700px;
  width: 100%;
  padding-bottom: 2%;
}
article {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  text-align: justify;
  font-size: 25px;
}
