<body>
  <article>
    <br />
    <h2>NOS OFFRES</h2>
    <br />
    <p>
      <b> Promotion Terre-Mars -15% jusqu'au 34 septembre</b><br />Marre
      d'Omicron, venez sur Mars, atmosphère anti-covid garantie à 100% (prouvé
      par 100 scientifiques indépendants) InterplanetTravail possible avec la
      6G!
    </p>
    <br /><br />
    <p>
      <b> Neptune-Uranus -40% jusqu'à hier</b><br />
      Vous avez toujours rêvé de surfer à l'infini, n'attendez plus. C'est la
      saison des anneaux, hôtels tout confort et vagues au pied de l'hôtel
      garanti
    </p>
    <br /><br />
    <p>
      <b> Jeu Concours Soleil-Vénus !</b><br />
      Tentez votre chance à notre jeu concours pour gagner un vol tout compris
      du Soleil vers Vénus. Dépêchez vous c'est chaud chaud chaud !!!
    </p>
    <br />
  </article>
</body>
