/* You can add global styles to this file, and also import other style files */
/* html {
  background-image: url("/assets/espace.jpg");
} */
body {
  /* background-image: url("/assets/espace.jpg"); */
  height: auto;
  min-height: 435px;
  width: 100%;
}
