body {
  margin: 0px;
}

h2 {
  color: white;
  text-align: center;
}

form {
  background-color: #003396;
  color: white;
  width: 35%;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
}

.couleur {
  color: red;
  text-align: center;
}
