<body>
  <div id="texte">
    <h2>
      Faîtes confiance à nos<br />
      pilotes d'exception<br />
      Leur métier,<br />
      notre fierté
    </h2>
    <br />
    <img id="image1" src="./assets/logo_blanc.png" />
  </div>
  <div id="container">
    <article>
      <form (ngSubmit)="validate()" [formGroup]="form">
        <h2>Inscription</h2>
        <br />
        <table>
          <tr>
            <td class="nom">Nom:</td>
            <td><input formControlName="nom" /></td>
            <td></td>
          </tr>
          <tr>
            <td class="prenom">Prenom:</td>
            <td><input formControlName="prenom" /></td>
            <td></td>
          </tr>
          <tr>
            <td class="login">login:</td>
            <td><input formControlName="login" /></td>
            <td
              *ngIf="
                form.controls['login'].dirty && form.controls['login'].invalid
              "
            >
              login invalide
            </td>
          </tr>
        </table>
        <table>
          <div formGroupName="passwordGroup">
            <tr>
              <td>password:</td>
              <td colspan="2">
                <input formControlName="password" type="password" />
              </td>
            </tr>
            <tr>
              <td>confirmation:</td>
              <td><input formControlName="confirm" type="password" /></td>
              <td
                class="couleur"
                *ngIf="
                  form.controls['passwordGroup'].dirty &&
                  form.controls['passwordGroup'].invalid
                "
              >
                invalide
              </td>
            </tr>
          </div>
        </table>
        <br />
        <button class="btn btn-light" type="submit" [disabled]="form.invalid">
          valider
        </button>
      </form>
    </article>
  </div>
  <div id="imageP">
    <img id="imgCo" src="./assets/astronaute.png" alt="" />
  </div>
</body>
