<body>
  <div id="texte">
    <h2>
      Faîtes confiance à nos<br />
      pilotes d'exception<br />
      Leur métier,<br />
      notre fierté
    </h2>
    <br />
    <img id="image1" src="./assets/logo_blanc.png" />
  </div>
  <div id="container">
    <article>
      <form (ngSubmit)="validate()" [formGroup]="form">
        <h2>Inscription</h2>
        <table>
          <tr>
            <td>login:</td>
            <td><input formControlName="login" /></td>
            <td
              *ngIf="
                form.controls['login'].dirty && form.controls['login'].invalid
              "
            >
              login invalide
            </td>
          </tr>
          <div formGroupName="passwordGroup">
            <tr>
              <td>password:</td>
              <td colspan="2"><input formControlName="password" /></td>
            </tr>
            <tr>
              <td>confirmation:</td>
              <td><input formControlName="confirm" /></td>
              <td *ngIf="form.controls['passwordGroup'].invalid">invalide</td>
            </tr>
          </div>
          <button type="submit" [disabled]="form.invalid">valider</button>
        </table>
      </form>
    </article>
  </div>
</body>
