body {
  margin: 0px;
}

h2 {
  color: white;
  text-align: center;
  padding-top: 5%;
}

button {
  margin-left: 100%;
  margin-bottom: 10%;
}
table {
  margin: auto;
}

form {
  background-color: #003396;
  color: white;
  width: 110%;
  padding-left: 5%;
  border-radius: 10%;
}

.couleur {
  color: red;
  text-align: center;
}

/* img {
  width: 35%;
  border: 2px solid black;
  margin-left: 70%;
} */
