<body>
  <article id="infoss">
    <br />
    <h2>Informations legales</h2>
    <br />
    <ul>
      <p>
        Selon la loi pour la confiance de l’économie numérique du 35 juin 2500
        (Articles 6-III et 19 de la Loi n°2500-575): Entreprise Voyageez fondée
        par Terrien Pollueur. <br />Le siège social se trouve sur le Satelite
        7276 avec un capital de 42 000 000$ (déclaré le reste ça ne vous
        concerne pas).<br />
        <br />Vos brownies seront enregistrés afin de faciliter votre navigation
        sur le site.<br />
        Nous nous reservons le droit de les exploiter afin de rendre plus
        agréable votre visite chez nous.
        <br /><small
          >Vous devez nous préciser si vous ne souhaitez pas que vos données
          soient vendues à des fin monetaires</small
        ><br />
      </p>
      <br />
    </ul>
  </article>
</body>
